.LodingText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.BlackFade {
  height: 100%;
  min-height: 100vh;
  max-width: 650px;
  background: #111111;
  z-index: 1;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  padding: 50px 25px 0px 25px;
  margin-top: 0;
}
.year {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  margin-top: 0;
}
.overview {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 180.18%;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.105em;
  margin: 0px 50px 25px 50px;
}
hr {
  width: 9px;
  height: 0px;
  border: 1px solid #ffffff;
}
.tagline {
  font-style: italic;
  font-weight: 300;
  font-size: 17px;
  line-height: 180.18%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.105em;
}

.ButtonsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}
.AddContainer {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    display: block;
    background-image: url(./../../img/Plus.svg);
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
  h1 {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.18%;

    align-items: center;
    text-align: center;
    letter-spacing: 0.105em;
  }
}

.PlayContainer {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    display: block;
    background-image: url(./../../img/Play.svg);
    width: 43px;
    height: 43px;
  }
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180.18%;

    align-items: center;
    text-align: center;
    letter-spacing: 0.105em;
  }
}
.circle-chart__circle {
  transform: rotate(-90deg);
  transform-origin: center;
}
.score {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 158.18%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  span {
    margin-right: 50px;
  }
}
.SVGcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 40px 50px 40px;
}
.InfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180.18%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.105em;
    margin: 0;
  }

  h2 {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 180.18%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.105em;
    margin: 0;
    opacity: 0.8;
  }
}
.GenersContainer {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;

  li {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 158.18%;
    opacity: 0.8;

    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    margin-left: 10px;
    margin-right: 10px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
