.Container {
  position: absolute;
  top: 100vh;
}
.BlackFadeGener {
  position: absolute;
  width: 100vw;
  background: #000000;
  opacity: 1;
  z-index: -1;
  height: 100%;
}
.TitleGener {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  width: 100vw;
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 20px;
}
.GenerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 10% 10px 10%;
  justify-content: center;
}
.MovieCardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
