.Container {
  background: #000000;
  min-height: 100vh;
}
.BlackFadeGener {
  width: 100%;
  background: #000000;
  opacity: 1;
  z-index: -1;
  height: 100%;
}
.TitleGener {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 39px;
  text-align: center;
  width: 100vw;
  margin-top: 0;
  padding-top: 60px;
  margin-bottom: 60px;
}
.GenerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto 0px auto;
  max-width: 100%;
  margin: 0px 10%;
  padding-bottom: 20px;

  justify-content: center;
}
.MovieCardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  //margin-top: 40px;
  margin: 0px 8%;
}
.description {
  margin-top: 30%;
  font-weight: normal;
}
.SearchBar {
  width: calc(80% - 40px);
  height: 50px;
  background: #111111;
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
  padding: 0px 20px;
  display: block;
  margin: 40px auto;
  border-radius: 50px;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: white;
    font-size: 25px;
  }
}
.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    margin: 20px;
    margin-bottom: 40px;
    width: 50px;
    height: 50px;
    background: #00acc1;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }
  div:nth-child(1) {
    background-image: url(./../../img/arrow.svg);
  }
  div:nth-child(2) {
    background-image: url(./../../img/arrow2.svg);
  }
  div:nth-child(3) {
    background-image: url(./../../img/arrow2.svg);
    transform: rotate(180deg);
  }
  div:nth-child(4) {
    background-image: url(./../../img/arrow.svg);
    transform: rotate(180deg);
  }
}
