.MovieCardsContainer {
  min-height: 90vh;
}
.FavouriteMovieCardContainer {
  &:hover .removeButton {
    transform: translate(0, 20px);
    opacity: 1;
  }
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.removeButton {
  position: relative;
  opacity: 0;
  transform: translate(0, -10px);
  width: 90px;
  height: 20px;
  border-radius: 40px;
  background: red;
  transition: transform opacity ease-in;
  //margin-right: 40px;
  transition-duration: 0.1s;
  cursor: pointer;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  /* identical to box height */
  letter-spacing: 0.235em;

  color: #a90000;
}
.saveddescription {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.trails-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.trails-main-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.trails-text {
  width: 230px;
  height: 391px;
  margin: 20px 20px 20px 20px;
}
.trails-idk {
  max-height: 391px;
  min-height: 391px;
}
.MovieCardContainer {
  margin: 0;
}
