.NavBarContainer {
  height: 5vh;
  width: 80%;
  margin: auto;
  display: flex;

  align-items: center;
  background: #111111;
  padding: 0px 10%;
  a {
    color: white;
    text-decoration: none;
    margin: 0px 30px;
  }
  a:nth-child(1) {
    margin-left: 0px;
  }
  .NavBarButtonsContainer {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .SeachBar {
    margin-left: auto;

    border-radius: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0px;

    span {
      display: block;
      width: 20px;
      height: 20px;
      background: url(./../../img/Search.svg);
      background-position: center;
      background-size: cover;
    }
  }
  .ViewAddButton {
    margin-left: auto;

    border-radius: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0px;

    span {
      display: block;
      width: 20px;
      height: 20px;
      background: url(./../../img/Plus.svg);
      background-position: center;
      background-size: cover;
      margin-left: 10px;
    }
  }
}
@media only screen and (max-width: 500px) {
  //   .NavBarContainer {
  //     flex-direction: column;
  //     justify-content: center;
  //     height: 10vh;
  //     margin: 0px;
  //     .SeachBar {
  //       width: 255px;
  //       margin: 0;
  //       margin-top: 20px;
  //     }
  //     a:nth-child(1) {
  //       margin-left: 30px;
  //     }
  //   }
  .NavBarContainer {
    a {
      margin: 0px 10px;
    }
  }
}
