.NavBarContainer {
  height: 5vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  background: #111111;
  padding: 0px 10%;
  a {
    color: white;
    text-decoration: none;
    margin: 0px 30px;
  }
  a:nth-child(1) {
    margin-left: 0px;
  }
  .SeachBar {
    margin-left: auto;
    background: #5cc3dc;
    border-radius: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      width: 260px;
      padding: 0px 10px;
      color: white;
      border: none;
      height: 25px;
      -webkit-appearance: none;
      border: none;
      background-image: none;
      background: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: white;

        opacity: 1;
      }
    }
    span {
      display: block;
      width: 20px;
      height: 20px;
      background: url(./../../img/Search.svg);
      background-position: center;
      background-size: cover;
    }
  }
}
